Emacs/.emacs.d/auto-save-list/
Emacs/.emacs.d/elpa/
Emacs/.emacs.d/eshell/
Emacs/.emacs.d/transient/
Emacs/.emacs.d/places
Emacs/.emacs.d/projectile-bookmarks.eld
Emacs/.emacs.d/recentf
Emacs/.emacs.d/recentf.elc
Emacs/.emacs.d/.last-package-update-day
Emacs/.emacs.d/*.log
Emacs/.emacs.d/notes.org
Emacs/.emacs.d/url/
/Emacs/.emacs.d/.cask/
/Emacs/.emacs.d/tramp
/Emacs/.emacs.d/.emacs-custom.*
